<div class="container">
    <div class="page-header">
        <h2>Your Job Ads</h2>
    </div>
    <div *ngIf="count > 0">
        <div class="row">
            <div class="col">
                <div class="list-group">
                    <ng-container *ngFor="let job of jobs">
                        <div class="list-group-item rounded-0">
                            <app-job-ad [job]=job></app-job-ad>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-paginator #paginator [length]="count"
                    [pageSize]="20"
                    [pageIndex]="page - 1"
                    (page)= "pageEvent = loadPage($event)"
                ></mat-paginator>
            </div>
        </div>
    </div>
    <div *ngIf="count === 0">
        You don't have any jobs posted.
    </div>
        
</div>