<!-- <div class="container">
    <div class="row">
        <div class="col-sm-6 float-sm-left">
            <button class="btn btn-info" (click)="goBack()">Return to Board</button>
        </div>
        <div class="col-sm-6">
            <button class="btn btn-link float-sm-right" routerLink="./edit">Edit Profile</button>
        </div>
    </div>
    <div class="row border border-black" style="padding:1em;margin:1em;">
        <div class="col-sm-6">
            {{seeker.first_name}} {{seeker.last_name}} <br/>
            {{seeker.contact_no}} <br/>
            {{seeker.email}}
        </div>
        <div class="col-sm-6 float-sm-right">
            Gender: {{seeker.gender}} <br/>
            Birthdate: {{seeker.birthdate}}
        </div>
    </div>
    <div class="row border border-black" style="padding:1em;margin:1em;">
        <div class="col">
            <div class = "description">
                {{job.description}}
            </div>
            <div class = "qualifications">
                {{job.qualifications}}
            </div>
        </div>
    </div>
</div> -->