<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
                <a routerLink="/seeker/jobs/post/{{job.job_id}}">{{job.job_name}}</a><br/>
                <a routerLink="/seeker/company/{{job.posted_by_id}}">{{job.company_name}}</a><br/>
        </div>
        <div class="col-sm-6">
                <p class="float-sm-right">{{job.count}} matching tag/s</p>
                <p>Posted on {{job.date_posted | date}}<br/>
                   Posted until {{job.date_deadline | date}}</p>
        </div>
    </div>
</div>