<nav class="navbar navbar-expand-sm navbar-dark static-top">
    <a class="navbar-brand" routerLink="/employer" >Employer</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/employer/jobs/create">
                Create Job Ad
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" routerLink="/employer/jobs">
                View Job Ads
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" routerLink="/employer/apps/1">
                View Applications
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/employer/company">
                Company Profile
            </a>
        </li>
        <!-- <li class="nav-item disabled">
            <a class="nav-link" routerLink="/">
                Company Profile
            </a>
        </li> -->
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
            <a class="nav-link" routerLink="/employer/account">Account</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="javascript:;" (click)="logout()">Log Out</a>
        </li>
    </ul>
</nav>
          