<nav class="navbar navbar-expand-sm navbar-dark static-top">
    <a class="navbar-brand" routerLink="../seeker/jobs/1" >JobSeeker</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="../seeker/jobs/1">Job Board</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="../seeker/apps/1">Applications</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="../seeker/profile">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="../seeker/account">Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:;" (click)="logout()">Log Out</a>
        </li>
    </ul>
</nav>
            