<div class="container">
    <div class="row">
        <div class="col-sm-6 float-sm-left">
            <button class="btn btn-info" (click)="goBack()">Return to Job Board</button>
        </div>
        <div class="col-sm-6 float-sm-right">
            <button class="btn btn-primary" (click)="toEdit()">Edit Job Post</button>
            <button class="btn btn-danger" (click)="toDelete()">Delete Job Post</button>
        </div>
    </div>
    <div *ngIf="no_job">
        <div class="row">
            <div class="col">
                Job post does not exist.
            </div>
        </div>
    </div>
    <div *ngIf="!no_job">
        <div class="row border border-black" style="padding:1em;margin:1em;">
            <div class="col-sm-6">
                <h4>{{job.job_name}}</h4>
                {{job.company_name}}<br/>
                {{job.job_location}}
            </div>
            <div class="col-sm-6 float-sm-right">
                Posted on {{job.date_posted | date}} <br/>
                Posted until {{job.date_deadline | date}}
            </div>
        </div>
        <div class="row border border-black" style="padding:1em;margin:1em;">
            <div class="col">
                <div class = "description">
                    <p>{{job.description}}</p>
                </div>
                <div class = "qualifications">
                    {{job.qualifications}}
                </div>
            </div>
        </div>
        <div class="row border border-black" style="padding:1em;margin:1em;">
            <div class="col">
                <h5>Skills</h5>
                <div class = "description">
                    <p *ngFor="let skill of skills">
                        {{skill}}
                    </p>
                </div>
            </div>
        </div>
        <div class="row border border-black" style="padding:1em;margin:1em;">
            <div class="col">
                <h5>Fields</h5>
                <div class = "description">
                    <p *ngFor="let field of fields">
                        {{field}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>